.bg-light {
    background: url('https://images.pexels.com/photos/416779/pexels-photo-416779.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center;
    color: white;
    background-size: cover;
    height: 30em;
}
