.icons_wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: rgb(121, 175, 242);
}

.span_wrapper {
    display: flex;
    justify-content: center;
}