<div class="about_wrapper">
    <div class="container">

        <h2 class="text-center">{{AboutHeading}}</h2>

        <div class="icons_wrapper">
            <i class="bi bi-building"></i>

            <i class="bi bi-people-fill"></i>

            <i class="bi bi-star"></i>

        </div>
        <div class="span_wrapper">
            <span>Accomodation</span>
            <span>Seasoned Agents</span>
            <span>Easy Trip Planning</span>

        </div>

        <div class="span_wrapper">
            <span>We offer the finest selection of top notch hotels anywhere! </span>
            <span>WHether it's about air tickets or shuttle bus, we will set it up.</span>
            <span>Combined, the experience our agents have is centuries</span>

        </div>


    </div>

</div>